<!DOCTYPE HTML>
<html>
<head>
  <title>Khangela</title>
  <meta name = "viewport" content = "width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="/img/icon.ico">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
{{{body}}}
<script src = "/js/jquery.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
