<div class="jumbotron" id = "bg">
  <div class="col-xs-0 col-sm-3"></div>
  <div class="col-xs-12 col-sm-6">
    <img class="img-responsive" src = "/img/logoTrans.png"/>
  </div>
  <div class="col-xs-0 col-sm-3"></div>
  <div class="container text-center">
    <form class="form-group" action="/places" method="POST">
      <input class = "coords" type="text" id = "latitude" name = "latitude"/>
      <input class = "coords" type="text" id = "longitude" name = "longitude"/>
      <input class = "input form-control" type="text" name="place" placeholder="Search for a company or industry">
      <br>
      <br>
      <button class = "btn" type="submit">Search</button>
    </form>
  </div>
</div>
<script src = "/js/script.js"></script>
