<div class="container">
  <h3 class = "text-center">You searched for:</h3>
  <div class="list-group">
    <a href = "#"><div class="row list-group-item">
      <div class="col-xs-3 col-sm-3">
        <img class="img-circle img-responsive" src = "/img/thumb.png"/>
      </div>

      <div class="col-xs-6">
        <h3>Bonzo's Tyres</h3>
        <p>
          3 Greengun Rd, Site X, Gugulitsha
          <br>
          021 123 4567
          <br>
          Open now
        </p>
      </div>
      <div class="col-xs-3">
        <h1 class = "distance">20m</h1>
      </div>
    </div></a>
    <div class="row list-group-item">
      <div class="col-xs-3 col-sm-3">
        <img class="img-circle img-responsive" src = "/img/thumb.png"/>
      </div>

      <div class="col-xs-6">
        <h3>Bonzo's Tyres</h3>
        <p>
          3 Greengun Rd, Site X, Gugulitsha
          <br>
          021 123 4567
          <br>
          Open now
        </p>
      </div>
      <div class="col-xs-3">
        <h1 class = "distance">29m</h1>
      </div>
    </div>

  </div>

</div>
