body{
  background-color: #333;
  margin-top: 5em;
  color: #fff;
}
.list-group-item{
  background-color: #999;
  border-radius: 0;
  border: 1px solid #444;
}
#map{
  height: 25em;

}
#mode{
  margin-bottom: 1em;
}
#directionsPanel{
  height: 100%;

}
#bg{
  background-image: url("/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 45em;
}
#logo{
  background-image: url("/img/logo.png");
  background-size: cover;
}
.navbar-inverse{
  background-color:#fff;
}
.navbar-brand{
  margin: 0;
  padding-top: 0.4em;
  padding-left: 0.5em;

}
.coords{
  display: none;
}
.addCompany{
  text-decoration: none;
  font-size: 15px;
}
.addCompany:hover{
  text-decoration: none;
}
.input{
  background-color: #fff;
  text-align: center;
  border: 3px solid #444;
  height: 3em;
  font-size: 1.5em;
}
.form-control{
  border-radius: 0;
}
.btn{
  border-radius: 0;
  background-color: #afa92a;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  height: 3em;
  width: 7em;
}
.distance{
  color: green;
}
a{
  color: #222;
}
a:hover{
  color:#222;
}
a:clicked{
  color:#222;
}
a:visited{
  color:#222;
}
